EXTERNAL_URL=http://127.0.0.1.nip.io:8080
PORT=8080

AIRTABLE_API_KEY=

AIRTABLE_2022_BASE_ID=
AIRTABLE_DEFAULT_TABLE=

AIRTABLE_2023_BASE_ID=
AIRTABLE_AGGREGATIONS_TABLE=
AIRTABLE_CHAOS_MODE_USERS_TABLE=
AIRTABLE_CONSTANTS_TABLE=
AIRTABLE_ORDERS_TABLE=
AIRTABLE_PRODUCTS_TABLE=
AIRTABLE_SOFT_LAUNCH_USERS_TABLE=
AIRTABLE_SPONSORSHIPS_TABLE=
AIRTABLE_USERS_TABLE=

TWITTER_API_KEY=
TWITTER_API_SECRET=

HMAC_SECRET=
COOKIE_SECRET=

STRIPE_API_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

KLAVIYO_API_KEY=
KLAVIYO_LIST_ID=