EXTERNAL_URL=http://127.0.0.1.nip.io:8080
PORT=8080
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_NAME=
AIRTABLE_2023_BASE=
AIRTABLE_SL_TABLE=
AIRTABLE_ATTENDEE_TABLE=
AIRTABLE_ORDER_TABLE=
AIRTABLE_CONSTANTS_TABLE=
AIRTABLE_AGG_TABLE=
TWITTER_API_KEY=
TWITTER_API_SECRET=
HMAC_SECRET=
COOKIE_SECRET=
STRIPE_API_KEY=
STRIPE_PUBLISHABLE_KEY=