{{ template "header" }}

{{ template "nav" }}

<div>
  <h2>Checkin</h2>

  {{ template "flashes" .flashes }}

  <form method="post">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {{ range .group }}
              <tr>
                <td>
                  {{ if eq .TwitterName "" }}
                    anon or very offline 🤔
                  {{ else }}
                    @{{ .TwitterName }}
                  {{ end }}
                  {{ /* <br><small class="text-muted">{{ .Cabin }}</small> */ }}

                </td>
                <td style="vertical-align: middle">
                  {{ if .CheckedIn }}
                    ✔️ already in
                  {{ else }}
                    <div class="form-check form-switch">
                      <input type="checkbox" class="form-check-input" id="user-{{.TwitterName}}" name="{{.TwitterName}}" checked>
                      <label class="form-check-label" for="user-{{.TwitterName}}">check in now</label>
                    </div>
                  {{ end }}
                </td>
              </tr>
            {{ end }}
        </tbody>
      </table>
    </div>

    {{ if .anyUnchecked }}
      <button class="btn btn-primary" type="submit">Check in selected people</button>
    {{ end }}
  </form>

</div>

{{ template "footer" }}
