{{ template "header" }}

<link rel="stylesheet" href="css/checkout.css" />
<script src="https://js.stripe.com/v3/"></script>
<script src="js/checkout.js" defer></script>
<script type="text/javascript">
    initialize({{.Items}})
</script>
<div class="container">
    <form id="payment-form">
        <div id="payment-element">
            <!-- stripe injection here -->
        </div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
</div>

{{ template "footer" }}