{{ template "header" }}

<link rel="stylesheet" href="css/checkout.css" />
<script src="https://js.stripe.com/v3/"></script>
<script src="js/checkout.js" defer></script>

{{ template "nav" "softlaunch" }}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/vc2-sl">Soft Launch Welcome</a></li>
            <li class="breadcrumb-item"><a href="/ticket-cart">Tickets</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </nav>
    <form id="payment-form">
        <div id="payment-element">
            <!-- stripe injection here -->
        </div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
        <div id="ticket-cart" class="hidden" cartData={{ .Items }} username={{ .User.UserName }}></div>
    </form>
</div>

{{ template "footer" }}