{{ template "header" }}

{{ template "nav" }}

<div class="container-narrow">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Uh oh!</h4>
    <p>{{ . }}</p>
    <hr>
    <p>
      For help, <a class="alert-link" href="https://discord.com/invite/PEvx7dbJCp">
        join the discord
      </a> or
      DM <a class="alert-link" href="https://twitter.com/grin_io">@grin_io on Twitter</a>.
    </p>
  </div>
</div>

{{ template "footer" }}
