{{ template "header" }}

{{ template "nav" }}

<div class="container-narrow">
  <div class="alert alert-danger" role="alert">
    {{ range . }}
        <p style="word-break: break-all;word-wrap: break-word;white-space:pre;margin-bottom:2rem">{{ . }}</p>
    {{ end }}
    <hr>
    <p>
      For help, <a class="alert-link" href="https://discord.com/invite/PEvx7dbJCp">
        join the discord
      </a> or
      DM <a class="alert-link" href="https://twitter.com/orb_net">@orb_net on Twitter</a>.
    </p>
  </div>
</div>

{{ template "footer" }}
