{{ template "header" }}

<script type="text/javascript">
    function onTicketTypeChange(ticketType) {
        document.getElementById("adult-tickets").disabled = false;
        document.getElementById("child-tickets").disabled = false;
        document.getElementById("toddler-tickets").disabled = false;
        document.getElementById("adult-tickets").value = 0;
        document.getElementById("child-tickets").value = 0;
        document.getElementById("toddler-tickets").value = 0;
        document.getElementById("order-total").value = "$" + Number(document.getElementById("donation-amount").value).toString();
        if (ticketType === "cabin") {
            document.getElementById("adult-price-tag").innerText = "$590";
            document.getElementById("child-price-tag").innerText = "$380";
        } else if (ticketType === "tent") {
            document.getElementById("adult-price-tag").innerText = "$420.69";
            document.getElementById("child-price-tag").innerText = "$210";
        } else if (ticketType === "sat") {
            document.getElementById("adult-price-tag").innerText = "$140";
            document.getElementById("child-price-tag").innerText = "$70";
        }
    }

    function onCartInputChange(event) {
      const donationVal = document.getElementById("donation-amount").value;
      if (donationVal.includes(".")) {
        document.getElementById("donation-amount").value = donationVal.slice(0,donationVal.indexOf("."));
      }
      const donationAmt = Number(document.getElementById("donation-amount").value);
      const ticketType = document.getElementById("ticket-type").value;
      
      let ticketTotal = 0;
      if (ticketType === "cabin") {
        ticketTotal += Number(document.getElementById("adult-tickets").value) * 590;
        ticketTotal += Number(document.getElementById("child-tickets").value) * 380;
      } else if (ticketType === "tent") {
        ticketTotal += Number(document.getElementById("adult-tickets").value) * 420.69;
        ticketTotal += Number(document.getElementById("child-tickets").value) * 210;
      } else if (ticketType === "sat") {
        ticketTotal += Number(document.getElementById("adult-tickets").value) * 140;
        ticketTotal += Number(document.getElementById("child-tickets").value) * 70;
      }

      const processingFee = Math.round(ticketTotal * 0.03 * 100) / 100; 
      const total = donationAmt + ticketTotal + processingFee;

      document.getElementById("order-total").value = "$" + total.toFixed(2);
      document.getElementById("processing-fee").value = "$" + processingFee.toFixed(2);
    }
</script>

{{ template "nav" "chaosmode" }}

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/chaos-mode">Chaos Mode Welcome</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tickets</li>
    </ol>
  </nav>
  {{ template "flashes" .flashes }}

  <h2>Purchase your vibecamp tickets here!</h2>

  <p>
    The next vibecamp will be taking place from June 15th-18th in 2023 at Camp Ramblewood in Maryland. We have a few different ticket tiers.
  </p>

  <h4>Adults:</h4>
  <p>
    $420.69 is the base entry price for adults and children 9 and older. This ticket tier grants you access to the entire event, two meals a day 
    (plus whatever snacks/breakfast food we add), and the option to sleep onsite in a tent/car/hammock.
  </p>
  <p>
    $590 is the cabin ticket tier for adults and children 9 and older. This gets you a guaranteed spot in a cabin with tempurpedic mattresses - and adult-sized beds! 
    We will be facilitating cabin sorting closer to the event through our <a href="https://discord.gg/btzNabV3VD">discord server</a>.
  </p>

  <h4>Children:</h4>
  <p>
    Children under the age of 3 get in free. Event access for children ages 3-8 is $210. Cabin placement for children between those ages is $380.
  </p>

  <h4>Final Night Celebration:</h4>
  <p>
    This tier allows you access to the last night of the event- arrival in the afternoon of the 17th and access until everyone leaves on 
    Sunday afternoon (exact times TBD). 
  </p>
  <p>
    Pricing for this tier is $140 for adults and $70 for children 3-8 (children under 3 still free!). 
    Unfortunately, we cannot offer cabin placement for this ticketing tier- but you are welcome to put up a tent and we will feed you 😊
  </p>

    <form method="post" action="">
      <fieldset>
        <legend>Tickets</legend>
        <div class="form-group row">
            <label class="col-sm-9 col-form-label" for="ticket-type">
                Ticket Type
            </label>
            <div class="col-sm-3">
            <select name="ticket-type" id="ticket-type" class="form-select" onChange="onTicketTypeChange(this.value)" value="none" required style="text-align: right;">
                <option value="none" selected hidden></option>
                <option value="cabin">Cabin</option>
                <option value="tent">GA</option>
                <option value="sat">Saturday Night</option>
            </select>
            </div>
        </div>
        <br/>

        <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="adult-tickets" id="adult-ticket-label">
                Adult Tickets (9+)
            </label>
            <span class="col-sm-1 col-form-label" id="adult-price-tag"></span>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
            <select name="adult-tickets" id="adult-tickets" class="form-select" disabled style="text-align: right;" onChange="onCartInputChange()">
                <option value=0>0</option>
                <option value=1>1</option>
                {{ if eq .User.TicketLimit 2 }}
                <option value=2>2</option>
                {{ end }}
            </select>
            </div>
          </div>
        <br/>

        <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="child-tickets" id="child-ticket-label">
                Children Tickets (3-8 years old)
            </label>
            <span class="col-sm-1 col-form-label" id="child-price-tag"></span>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
            <select name="child-tickets" id="child-tickets" class="form-select" disabled style="text-align: right;" onChange="onCartInputChange()">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>
            </div>
        </div>
        <br/>

        <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="toddler-tickets" id="toddler-ticket-label">
                Toddler Tickets (0-2 years old)
            </label>
            <span class="col-sm-1 col-form-label" id="toddler-price-tag">$0</span>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
            <select name="toddler-tickets" id="toddler-tickets" class="form-select" disabled style="text-align: right;" onChange="onCartInputChange()">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>
        </div>
        </fieldset>
        <br/>
        
        <fieldset>
          <legend>Donate</legend>
          <div class="form-group row">
            <label for="donation-amount" class="col-sm-9 col-form-label">Every $420 means one more low-income person can come!</label>
            <div class="col-sm-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" name="donation-amount" id="donation-amount" min="0" style="text-align: right;" onChange="onCartInputChange()" step="1"/>
              </div>
            </div>
          </div>
        </fieldset>
        <br/>

        <div class="row">
          <span class="col-sm-9 col-form-label">Processing Fee</span>
          <input readonly type="text" class="col-sm-3 text-right col-form-label" id="processing-fee" style="text-align: right; padding-right: 2em;" value="$0"/>
        </div>
        <br/>

        <div class="row">
          <span class="col-sm-9 col-form-label">Your Total</span>
          <input readonly type="text" class="col-sm-3 text-right col-form-label" id="order-total" style="text-align: right; padding-right: 2em;" value="$0"/>
        </div>
        <br/>

        <fieldset>
        <legend>Badges</legend>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="badge-checkbox" id="badge-checkbox" checked>
          <label class="form-check-label" for="badge-checkbox">
            Would you like a badge at vibecamp 2023?
          </label>
          <br/>
        </div>
        </fieldset>
        <p>Badge creation will happen through the app, we'll announce when it's ready to use!</p>
        <br/>

        <fieldset>
        <legend>Discord</legend>
          <label class="form-check-label" for="discord-name">
            Add your full discord handle to receive the 2023 Attendee role in the vibecamp server.
          </label>
          <input type="text" class="form-control" name="discord-name" id="discord-name" />
          <br/>
        </fieldset>

        <fieldset>
        <legend>Dietary Restrictions</legend>
        <p>
          Check all that apply:
        </p>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="vegetarian" id="veg">
          <label class="form-check-label" for="veg">
            Vegetarian
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="glutenfree" id="gf">
          <label class="form-check-label" for="gf">
            Gluten free
          </label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" type="checkbox" name="lactose" id="lactose">
          <label class="form-check-label" for="lactose">
            Lactose intolerant
          </label>
        </div>

        <div class="mb-3">
          <label for="comments" class="form-label">Other considerations (e.g. allergies)</label>
          <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
        </div>
      </fieldset>
      <br/>

      <button type="submit" class="btn btn-primary">Checkout</button>
    </form>


</div>

{{ template "footer" }}
