{{ template "header" }}

<div class="jumbotron text-center">
  <h1>My Vibe Camp</h1>
  <p class="lead">
    Tickets, cabin assignments, and other info.
  </p>
  <p>
    <a class="btn btn-lg btn-twitter" href="/signin" role="button">
      Sign In With Twitter
    </a>
  </p>
</div>

{{ template "footer" }}
