{{ template "header" }}

{{ template "nav" }}

<div>
  <h2>Hey @{{ .Name }} 🥰</h2>

  <h3>Status</h3>
  <p>
    You're in! This is confirmation that you have a ticket. We look forward to seeing you at in
    March.
  </p>
  <p>
    <a href="#">Click here for ticket QR code (not working yet)</a>.
  </p>

  <h3>Cabin</h3>
  <p>
      {{ if eq .Cabin "" }}
    You're not in a cabin yet. Pop over to the #cabins channel in the discord and say hi. Or if
    you want to take it easy, we'll find one for you. No worries!
      {{ else }}
    You're in <strong>Cabin {{ .Cabin }}</strong> with these lovely people
  <ul>
      {{ range $val := .Cabinmates }}
        <li>{{ $val }}</li>
      {{ end }}
  </ul>
    {{ end }}
  </p>
</div>

{{ template "footer" }}
