{{ define "header" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>My Vibecamp</title>
      <link rel="icon" type="image/png" href="/img/favicon.png">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <div class="container container-narrow">
{{ end }}



{{ define "footer" }}
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
  </html>
{{ end }}



{{ define "nav" }}
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">my.vibecamp</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link {{if eq . "home" }}active{{end}}" href="/">Home</a>
          <a class="nav-link {{if eq . "softlaunch" }}active{{end}}" href="/vc2-sl">Soft Launch</a>
          <!--  <a class="nav-link {{if eq . "ticket" }}active{{end}}" href="/ticket">Ticket</a> -->
          <!--  <a class="nav-link {{if eq . "logistics" }}active{{end}}" href="/logistics">Logistics</a> -->
          <!--  <a class="nav-link" href="https://vibecamp.xyz/schedule/">Schedule</a> -->
          <!--  <a class="nav-link" href="/img/map.png">Map</a> -->
        </div>
        <div class="navbar-nav">
          <a class="nav-link" href="/signout">Sign Out</a>
        </div>
      </div>
    </div>
  </nav>
{{ end }}


{{ define "flashes" }}
  <div id="flashes">
    {{ range $type, $msgs := . }}
      {{ range $msg := $msgs }}
        <div class="alert alert-{{$type}} alert-dismissible fade show">
          {{ $msg }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}