{{ template "header" }}

{{ template "nav" "logistics" }}

<div class="container">
  {{ template "flashes" .flashes }}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/signin-redirect">Welcome</a></li>
      <li class="breadcrumb-item active" aria-current="page">2023 Logistics</li>
    </ol>
  </nav>
  <h2>vibecamp2 Logistics</h2>

  <p>
    You can edit any of the information you submitted during your purchase here. In the future if we need more
    information from you, you will be able to edit it here. 
  </p>

  {{ if .Order }}
  <h3>You Purchased</h3>

  {{ if gt .Order.AdultCabin 0 }}<p>{{.Order.AdultCabin}} adult cabin ticket{{if gt .Order.AdultCabin 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.AdultTent 0 }}<p>{{.Order.AdultTent}} adult tent ticket{{if gt .Order.AdultTent 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.AdultSat 0 }}<p>{{.Order.AdultSat }} adult saturday night ticket{{if gt .Order.AdultSat 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ChildCabin 0 }}<p>{{.Order.ChildCabin}} child cabin ticket{{if gt .Order.ChildCabin 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ChildTent 0 }}<p>{{.Order.ChildTent}} child tent ticket{{if gt .Order.ChildTent 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ChildSat 0 }}<p>{{.Order.ChildSat}} child saturday night ticket{{if gt .Order.ChildSat 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ToddlerCabin 0 }}<p>{{.Order.ToddlerCabin}} toddler cabin ticket{{if gt .Order.ToddlerCabin 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ToddlerTent 0 }}<p>{{.Order.ToddlerTent}} toddler tent ticket{{if gt .Order.ToddlerTent 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ToddlerSat 0 }}<p>{{.Order.ToddlerSat}} toddler saturday night ticket{{if gt .Order.ToddlerSat 1}}s{{end}}</p>{{end}}

  {{ if and (eq .User.AdmissionLevel "Cabin") (eq .Order.AdultCabin 0)}}<p>And you upgraded to Cabin tickets! Congrats!</p>{{end}}

  {{ else }}

  <h2>You have one {{ .User.AdmissionLevel }} ticket to vibecamp!</h2>

  {{ end }}

  {{ if .User.CabinNickname2023 }}
  <p>
    Your cabin nickname is {{.User.CabinNickname2023}}. On the map, this is {{ .User.Cabin2023 }}.
  </p>
  {{ end }}

  <h3>Bussing & Bedding</h3>

  <p>
    Here is the information for your bussing & bedding (if you have purchased any):
  </p>

  {{ if gt .User.BusSpots 0 }}
  <p>
    You have purchased {{.User.BusSpots}} bus spot{{if gt .User.BusSpots 1}}s{{end}}.
  </p>

  {{ if gt (len .User.BusToVibecamp) 0 }}
  <p>
    You are taking the bus to vibecamp at {{.User.BusToVibecamp}}.
  </p>
  {{ end }}

  {{ if gt (len .User.BusFromVibecamp) 0 }}
  <p>
    You are taking the bus from vibecamp at {{.User.BusFromVibecamp}}.
  </p>
  {{ end }}
  {{ end }}

  {{ if gt .User.SheetSets 0 }}
  <p>
    You have rented {{.User.SheetSets}} sheet set{{if gt .User.SheetSets 1}}s{{end}}.
  </p>
  {{ end }}

  {{ if gt .User.SleepingBags 0 }}
  <p>
    You have rented {{.User.SleepingBags}} sleeping bag{{if gt .User.SleepingBags 1}}s{{end}}.
  </p>
  {{ end }}

  {{ if gt .User.Pillows 0 }}
  <p>
    You have rented {{.User.Pillows}} pillow{{if gt .User.Pillows 1}}s{{end}}.
  </p>
  {{ end }}

    <form method="post" action="">
      <fieldset>

        {{template "logistics-form" .User }}

        <div class="form-group row justify-content-center form-top-margin">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
</div>

{{ template "footer" }}
