{{ template "header" }}

{{ template "nav" "softlaunch" }}

<div class="container">
  {{ template "flashes" .flashes }}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/signin-redirect">Welcome</a></li>
      <li class="breadcrumb-item active" aria-current="page">2023 Logistics</li>
    </ol>
  </nav>
  <h2>vibecamp2 Logistics</h2>

  <p>
    You can edit any of the information you submitted during your purchase here. In the future if we need more
    information from you, you will be able to edit it here. 
  </p>

  {{ if .Order }}
  <h3>You Purchased</h3>

  {{ if gt .Order.AdultCabin 0 }}<p>{{.Order.AdultCabin}} adult cabin ticket{{if gt .Order.AdultCabin 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.AdultTent 0 }}<p>{{.Order.AdultTent}} adult tent ticket{{if gt .Order.AdultTent 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ChildCabin 0 }}<p>{{.Order.ChildCabin}} child cabin ticket{{if gt .Order.ChildCabin 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ChildTent 0 }}<p>{{.Order.ChildTent}} child tent ticket{{if gt .Order.ChildTent 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ToddlerCabin 0 }}<p>{{.Order.ToddlerCabin}} toddler cabin ticket{{if gt .Order.ToddlerCabin 1}}s{{end}}</p>{{end}}
  {{ if gt .Order.ToddlerTent 0 }}<p>{{.Order.ToddlerTent}} toddler tent ticket{{if gt .Order.ToddlerTent 1}}s{{end}}</p>{{end}}
  {{ end }}

    <form method="post" action="">
      <fieldset>
        
        {{template "logistics-form" .User }}

        <button type="submit" class="btn btn-primary">Submit</button>

      </fieldset>
    </form>


</div>

{{ template "footer" }}
