{{ template "header" }}

{{ template "nav" "logistics" }}

<div class="container">
  <h2>Logistics</h2>

  <p>
    This page has a bunch of info about your trip to Vibecamp. Look it over now to make sure we got
    everything right.
    <strong>If anything looks wrong, email <a href="mailto:brooke@vibecamp.xyz">Brooke</a> right away.</strong>
  </p>



  <h4>Getting To Camp</h4>
  <div class="container mb-3">
    {{ if eq .User.TransportTo "yes" }}

      <p class="mb-2">
        You're taking the Vibecamp bus.
      </p>
      {{ if eq .User.BusToCamp "" }}
        {{ if eq .User.ArrivalTime "" }}
          <p class="alert alert-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            You still need to tell Brooke when your flight lands in Austin.
          </p>
        {{ else }}
          <p class="mb-2">
            Your flight lands at {{ .User.ArrivalTime }}.
          </p>
        {{ end }}
        <p>
          Once we finalize bus rentals, your bus departure time will be here.
        </p>
      {{ else }}
        <p>
          Your bus leaves for camp at <strong>{{ .User.BusToCamp }}</strong>. Don't be late.
        </p>
      {{ end }}

    {{ else }}

      <p>
        You're <strong>not</strong> riding the Vibecamp bus to camp. You're finding a ride on your own.
      </p>
      <p>
        Consider using <a href="https://discord.com/invite/PEvx7dbJCp">the Discord</a> to coordinate rideshares.
      </p>

    {{end}}
  </div>



  <h4>Getting To The Airport From Camp</h4>
  <div class="container mb-3">
    {{ if eq .User.TransportFrom "yes" }}

      <p class="mb-2">
        You're taking the Vibecamp bus.
      </p>
      {{ if eq .User.BusToAUS "" }}
        {{ if eq .User.DepartureTime "" }}
          <p class="alert alert-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            You still need to tell Brooke when your flight takes off from Austin.
          </p>
        {{ else }}
          <p class="mb-2">
            Your flight leaves at {{ .User.DepartureTime }}.
          </p>
        {{ end }}
        <p>
          Once we finalize bus rentals, your bus departure time will be here.
        </p>
      {{ else }}
        <p>
          Your bus leaves for the airport at <strong>{{ .User.BusToAUS }}</strong>. You snooze, you lose 😉
        </p>
      {{ end }}

    {{ else }}

      <p>
        You're <strong>not</strong> riding the Vibecamp bus back to the airport. You're getting your own ride.
      </p>
      <p>
        Consider using <a href="https://discord.com/invite/PEvx7dbJCp">the Discord</a> to coordinate rideshares.
      </p>

    {{end}}
  </div>



  <h4>Sleeping Bag Rental</h4>
  <div class="container mb-3">
    <p>
        {{ if eq .User.BeddingRental "yes" }}
          You're renting a sleeping bag from us,
          {{ if .User.BeddingPaid }}
            and you've already paid for it.
          {{ else }}
            but you still need to <a href="https://buy.stripe.com/00g4jCbEkeULcyQ3cg">pay for it</a>
            and DM <a href="https://twitter.com/gptbrooke">Brooke</a> a screenshot
            of the payment confirmation page.
          {{ end }}
        {{ else }}
          You're handling it yourself. Note that the venue has beds with bare mattresses.
          There are no pillows, sheets, or blankets, so bring what you need.
        {{ end }}
    </p>
  </div>



  <h4>Badge</h4>
  <div class="container mb-3">
    <p>
      Set up your badge on the <a href="/badge">badge page</a>.
    </p>
  </div>



  <h4>Food</h4>
  <div class="container mb-3">
    <p>
      Describe your dietary restrictions on the <a href="/food">food page</a>.
    </p>
  </div>



  <h4>Cabin</h4>
  <div class="container mb-3">
    <p>
      {{ if eq .User.Cabin "" }}
        You're not in a cabin yet. Pop over to the #cabins channel in
        <a href="https://discord.com/invite/PEvx7dbJCp">the discord</a>
        and say hi. Or if you want to take it easy, we'll find one for you.
        No worries!
      {{ else }}
        Your cabin is <strong>{{ .User.Cabin }}</strong> and you're sharing it with these lovely people:
        <ul>
            {{ range $val := .CabinMates }}
              <li><a href="https://twitter.com/{{ $val }}">@{{ $val }}</a></li>
            {{ end }}
        </ul>
        Why not start a group chat and introduce yourselves?
      {{ end }}
    </p>
  </div>

</div>

{{ template "footer" }}
