{{ template "header" }}

{{ template "nav" "vc2" }}

<div class="container">
  <p>
    Ticket sales for Vibecamp 2023 are closed. Maybe we'll see you at the next one.
  </p>
  <p>
    If something's not right, <a href="mailto:team@vibecamp.xyz">email us</a>.
  </p>
</div>

{{ template "footer" }}
