{{ template "header" }}

<script type="text/javascript">
    function onTicketTypeChange(ticketType) {
        document.getElementById("adult-tickets").disabled = false;
        document.getElementById("child-tickets").disabled = false;
        document.getElementById("toddler-tickets").disabled = false;
        document.getElementById("adult-tickets").value = 0;
        document.getElementById("child-tickets").value = 0;
        document.getElementById("toddler-tickets").value = 0;
        document.getElementById("order-total").value = "$" + Number(document.getElementById("donation-amount").value).toString();
        if (ticketType === "cabin") {
            document.getElementById("adult-price-tag").innerText = "$590";
            document.getElementById("child-price-tag").innerText = "$380";
        } else if (ticketType === "tent") {
            document.getElementById("adult-price-tag").innerText = "$420";
            document.getElementById("child-price-tag").innerText = "$210";
        } else if (ticketType === "sat") {
            document.getElementById("adult-price-tag").innerText = "$140";
            document.getElementById("child-price-tag").innerText = "$70";
        }
    }

    function onCartInputChange(event) {
      let total = Number(document.getElementById("donation-amount").value);
      const ticketType = document.getElementById("ticket-type").value;
      
      if (ticketType === "cabin") {
        total += Number(document.getElementById("adult-tickets").value) * 590;
        total += Number(document.getElementById("child-tickets").value) * 380;
      } else if (ticketType === "tent") {
        total += Number(document.getElementById("adult-tickets").value) * 420;
        total += Number(document.getElementById("child-tickets").value) * 210;
      } else if (ticketType === "sat") {
        total += Number(document.getElementById("adult-tickets").value) * 140;
        total += Number(document.getElementById("child-tickets").value) * 70;
      }

      document.getElementById("order-total").value = "$" + total.toString();
    }
</script>

{{ template "nav" "softlaunch" }}

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/vc2-sl">Soft Launch Welcome</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tickets</li>
    </ol>
  </nav>
  {{ template "flashes" .flashes }}

  <h2>Buy Your Tickets</h2>

  <p>
    Each adult who attended the first vibecamp is eligible to buy one adult ticket and tickets for any attending children.
  </p>

  <p>
    Base entry is $420 (children 8 & under half off, children under 2 free) with an additional $170 for indoor cabin placement 
    for adults and children over 2. If you're planning to stay offsite, please purchase a tent ticket for entry.
  </p>

    <form method="post" action="">
      <fieldset>
        <legend>Tickets</legend>
        <div class="form-group row">
            <label class="col-sm-9 col-form-label" for="ticket-type">
                Ticket Type
            </label>
            <div class="col-sm-3">
            <select name="ticket-type" id="ticket-type" class="form-select" onChange="onTicketTypeChange(this.value)" value="none" required style="text-align: right;">
                <option value="none" selected hidden></option>
                <option value="cabin">Cabin</option>
                <option value="tent">Tent</option>
                <option value="sat">Saturday Night</option>
            </select>
            </div>
        </div>
        <br/>

        <div class="form-group row">
            <label class="col-sm-8 col-form-label" for="adult-tickets" id="adult-ticket-label">
                Adult Tickets (9 years old and older)
            </label>
            <span class="col-sm-1 col-form-label" id="adult-price-tag"></span>
            <div class="col-sm-3">
            <select name="adult-tickets" id="adult-tickets" class="form-select" disabled style="text-align: right;" onChange="onCartInputChange()">
                <option value=0>0</option>
                <option value=1>1</option>
                {{ if eq .User.TicketLimit 2 }}
                <option value=2>2</option>
                {{ end }}
            </select>
            </div>
          </div>
        <br/>

        <div class="form-group row">
            <label class="col-sm-8 col-form-label" for="child-tickets" id="child-ticket-label">
                Children Tickets (3-8 years old)
            </label>
            <span class="col-sm-1 col-form-label" id="child-price-tag"></span>
            <div class="col-sm-3">
            <select name="child-tickets" id="child-tickets" class="form-select" disabled style="text-align: right;" onChange="onCartInputChange()">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>
            </div>
        </div>
        <br/>

        <div class="form-group row">
            <label class="col-sm-8 col-form-label" for="toddler-tickets" id="toddler-ticket-label">
                Toddler Tickets (0-2 years old)
            </label>
            <span class="col-sm-1 col-form-label" id="toddler-price-tag">$0</span>
            <div class="col-sm-3">
            <select name="toddler-tickets" id="toddler-tickets" class="form-select" disabled style="text-align: right;" onChange="onCartInputChange()">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>
        </div>
        </fieldset>
        <br/>
        
        <fieldset>
          <legend>Donate</legend>
          <div class="form-group row">
            <label for="donation-amount" class="col-sm-9 col-form-label">Every $420 means one more low-income person can come!</label>
            <div class="col-sm-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" name="donation-amount" id="donation-amount" min="0" style="text-align: right;" onChange="onCartInputChange()"/>
              </div>
            </div>
          </div>
        </fieldset>
        <br/>

        <div class="row">
          <span class="col-sm-9 col-form-label">Your Total</span>
          <input readonly type="text" class="col-sm-3 text-right col-form-label" id="order-total" style="text-align: right; padding-right: 2em;" value="$0"/>
        </div>
        <br/>

        <fieldset>
        <legend>Badges</legend>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="badge-checkbox" id="badge-checkbox" checked>
          <label class="form-check-label" for="badge-checkbox">
            Would you like a badge at vibecamp 2023?
          </label>
        </div>
        </fieldset>
        <br/>

        <fieldset>
        <legend>Dietary Restrictions</legend>
        <p>
          Check all that apply:
        </p>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="vegetarian" id="veg" {{if .User.Vegetarian}}checked{{end}}>
          <label class="form-check-label" for="veg">
            Vegetarian
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="glutenfree" id="gf" {{if .User.GlutenFree}}checked{{end}}>
          <label class="form-check-label" for="gf">
            Gluten free
          </label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" type="checkbox" name="lactose" id="lactose" {{if .User.LactoseIntolerant}}checked{{end}}>
          <label class="form-check-label" for="lactose">
            Lactose intolerant
          </label>
        </div>

        <div class="mb-3">
          <label for="comments" class="form-label">Other considerations (e.g. allergies)</label>
          <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
        </div>
      </fieldset>
      <br/>

      <button type="submit" class="btn btn-primary">Checkout</button>
    </form>


</div>

{{ template "footer" }}
