{{ template "header" }}
<!-- simple form to let user input their bus & bedding order -->
<!-- form will be submitted to the same page -->
<!-- form will be submitted using POST -->
<!-- form will have 2 drop downs for user to select their bus time slot, arrive and depart -->
<!-- form will have a number input for user to select their bus quantity -->
<!-- form will have 3 number inputs for each bedding type - sleeping bag, sheet set, pillow -->
<!-- form will have a submit button -->
<!-- form will auto update the total cost -->

{{$arriveSlotOne := "11:00 AM"}}
{{$arriveSlotTwo := "2:30 PM"}}
{{$arriveSlotThree := "6:00 PM"}}
{{$departSlotOne := "8:00 AM"}}
{{$departSlotTwo := "11:30 AM"}}
{{$departSlotThree := "3:00 PM"}}

{{$sleepingBagPrice := 35}}
{{$sheetSetPrice := 60}}
{{$pillowPrice := 20}}

{{$busPrice := 5}}

{{$totalCost := 0}}

<script type="text/javascript">
    function onCartInputChange(event) {
        // calculate and update the total cost & processing fee
        const busQuantity = document.getElementById("busQuantity").value;
        const sleepingBagQuantity = document.getElementById("sleepingBagQuantity").value;
        const sheetSetQuantity = document.getElementById("sheetSetQuantity").value;
        const pillowQuantity = document.getElementById("pillowQuantity").value;

        const totalCost = (busQuantity * {{$busPrice}}) + (sleepingBagQuantity * {{$sleepingBagPrice}}) + (sheetSetQuantity * {{$sheetSetPrice}}) + (pillowQuantity * {{$pillowPrice}});
        const processingFee = Math.round(totalCost * 0.03 * 100) / 100;

        document.getElementById("order-total").value = "$" + (totalCost + processingFee).toFixed(2);
        document.getElementById("processing-fee").value = "$" + processingFee.toFixed(2);
    }
</script>

<!-- form to let user input their bus & bedding order -->

{{ template "nav" "transport" }}

<div class="container">
  {{ template "flashes" .flashes }}
<form method="post" action="">

    <fieldset>
        <p>
            Bus spots are ${{$busPrice}} each. Buses will depart from Philly at the "Bus to Vibecamp" times, & will depart from Vibecamp to Philly at the "Bus from Vibecamp" times. 1 bus spot gets you on the bus both to and from vibecamp, so one person will only need one bus spot.
        </p>

        <p>
            The bus will be picking people up and dropping off at a bus stop:
        <br />
        <br />
        <span style="margin-left: 40px">
            3105 John F Kennedy Blvd
        </span>
        <br />
        <span style="margin-left: 40px">
            Philadelphia, PA 19104
        </span>
        <br />
        <br />
            This is a 5 minute walk away from the major AMTRAK station (William H Gray 30th street station). We intend to have at least one person at the Amtrak station to collect the group, lead them over, coordinate with the bus driver etc.
        </p>

        <p>
            The bus is roughly 90 minutes of highway...with 15ish minutes of load and unload time.
        <br />
            SEPTA has a line that runs to PHL airport every hour at X:30  and their website says it's a 20 minute train ride
        </p>

        <!-- how many bus spots input, $5 each -->
        <div class="form-group row">
            <label class="col-sm-9 col-form-label" for="busQuantity" id="busQuantityLabel">Bus Spots</label>
            <div class="col-sm-3">
                <input type="number" name="busQuantity" class="form-control" id="busQuantity" min="0" max="10" value="0" onChange="onCartInputChange()" />
            </div>
        </div>
        <br />
    
        <!-- bus arrive time input -->
        <div class="form-group row">
            <label for="busArriveTime" class="col-sm-7 col-form-label">Bus to Vibecamp</label>
            <div class="col-sm-5">
            <select name="busArriveTime" id="busArriveTime" class="form-select" onChange="onCartInputChange()" >
                <option value="">Select Departure Time</option>
                <option value="{{$arriveSlotOne}}">{{$arriveSlotOne}}</option>
                <option value="{{$arriveSlotTwo}}">{{$arriveSlotTwo}}</option>
                <option value="{{$arriveSlotThree}}">{{$arriveSlotThree}}</option>
            </select>
            </div>
        </div>
        <br />

        <!-- bus depart time input -->
        <div class="form-group row">
            <label for="busDepartTime" class="col-sm-7 col-form-label">Bus from Vibecamp</label>
            <div class="col-sm-5">
            <select name="busDepartTime" id="busDepartTime" class="form-select" onChange="onCartInputChange()" >
                <option value="">Select Departure Time</option>
                <option value="{{$departSlotOne}}">{{$departSlotOne}}</option>
                <option value="{{$departSlotTwo}}">{{$departSlotTwo}}</option>
                <option value="{{$departSlotThree}}">{{$departSlotThree}}</option>
            </select>
            </div>
        </div>
    </fieldset>
    <br />

    {{/** 
    <fieldset>
        <p>
            Bedding is ${{$sleepingBagPrice}} for a sleeping bag, ${{$sheetSetPrice}} for a sheet set, and ${{$pillowPrice}} for a pillow (including pillow case). All will be rented and available at check-in time.
        </p>

        <!-- how many sleeping bags input, $35 each -->
        <div class="form-group row">
            <label for="sleepingBagQuantity" class="col-sm-3 col-form-label">Sleeping Bags</label>
            <input type="number" name="sleepingBagQuantity" class="col-sm-9 text-right form-control" id="sleepingBagQuantity" min="0" max="10" value="0" onChange="onCartInputChange()" />
        </div>

        <!-- how many sheet sets input, $60 each -->
        <div class="form-group row">
        <label for="sheetSetQuantity" class="col-sm-5 col-form-label">Sheet Sets</label>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
        <input type="number" name="sheetSetQuantity" class="form-control" id="sheetSetQuantity" min="0" max="10" value="0" onChange="onCartInputChange()" />
        </div>
        </div>

        <!-- how many pillows input, $20 each -->
        <div class="form-group row">
        <label for="pillowQuantity" class="col-sm-5 col-form-label">Pillows</label>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
        <input type="number" name="pillowQuantity" class="form-control" id="pillowQuantity" min="0" max="10" value="0" onChange="onCartInputChange()"  />
        </div>
        </div>
    
    </fieldset>
    **/}}


    <fieldset>
        <div class="row">
            <span class="col-sm-9 col-form-label">Processing Fee</span>
            <input readonly type="text" class="col-sm-3 text-right col-form-label" id="processing-fee" style="text-align: right; padding-right: 2em;" value="$0"/>
        </div>
        <br/>

        <div class="row">
            <span class="col-sm-9 col-form-label">Your Total</span>
            <input readonly type="text" class="col-sm-3 text-right col-form-label" id="order-total" style="text-align: right; padding-right: 2em;" value="$0"/>
        </div>
        <br/>
    </fieldset>


      <button type="submit" class="btn btn-primary" id="checkout-button">Checkout</button>
</form>
</div>

{{ template "footer" }}