{{ template "header" }}

{{ template "nav" "vc2-ticket" }}

<div class="container">
    <h2>Hey @{{ .user.UserName }} 🥰 IT'S TIME</h2>
    <div class="container mb-3">
      <p>
        Congrats on getting a ticket to vibecamp this year! Here's all the info you'll need to get there.
      </p>
    </div>

    <div class="container mb-3">
        {{ if .QR }}
        <h4>
            Here's your QR code for checking in!
        </h4>
        <div class="text-center">
            <img id="qrcode" src="data:image/png;base64,{{.QR}}" class="mx-auto d-block" />
        </div>
        {{ else }}
        <h4>
            We're still generating your QR code. Check back soon!
        </h4>
        {{ end }}
        <br />

        <h3>
            CHECK IN
        </h3>

        <p>
            We'll be giving you wristbands at check in. Ethereal entities will be summoned from the dark to march out anyone we see without a wristband so you MUST CHECK IN.
        </p>

        <p>
            Check in time begins at 12pm Thursday, June 15th. It will be at the gazebo marked on our map [will be linked here soon]. If you have a project you'd like extra time to set up, or to help with general event set up, you must get approval from <a href="https://twitter.com/gptbrooke">Brooke</a> to come early.
        </p>

        <p>
            Address of the site is:
        <br />
        <div style="margin-left: 20px;">
          <a href="https://goo.gl/maps/jGqXi3VeZD8Rpz3r7">
            2564 Silver Rd,<br>
            Darlington, MD 21034
          </a>
        </div>
        </p>

        <p>
            Check out time is 3pm Sunday, June 18th. You can leave earlier than that, but you can't stay later! Please plan your 'pack up and exit' strategies accordingly.
        </p>
        <br/>


        <h3>
            BUSES
        </h3>

        <p>
            If you need transportation to/from the site, you can reserve a bus seat <a href="https://my.vibe.camp/2023-transport">here</a>. We are charging a nominal fee to make sure we get accurate headcounts; it will be $5 total for riding both to camp from Philly and from Philly to camp. Space on buses is first come first serve and they will only be running at scheduled times on Thursday, June 15th, and Sunday, June 18th. Please make sure you show up ~15 minutes early to allow for loading times!
        </p>

        <p>
            Pick up and drop off will be at a bus stop located at:
        <br />
        <div style="margin-left: 20px;">
          <a href="https://goo.gl/maps/YNNjZ33ZCtPR2qgMA">
            3105 John F Kennedy Blvd
            Philadelphia, PA 19104
          </a>
        </div>
        </p>

        <p>
            Maps showing exact location can be viewed <a href="https://drive.google.com/file/d/1oe2UUpcMB-TEqAMxsPY_n3yf8aHzY2h8/view?usp=sharing">here</a>. It is a five minute walk from the 30th st AMTRAK station. The buses will be white, with Werner Coach written on the side.
        </p>
        <br/>



        <h3>
            SAFETY
        </h3>
        <p>

            We will have an incredible crew of humans helping volunteer at camp. They will be identifiable via their snazzy light up cowboy hats! If someone makes you feel uncomfortable, please let one of them know. If you have trouble finding a volunteer, head to the check in station on Thursday, or the information booth near the dining hall Friday & Saturday. Please also let one of us know if people are rude; if we get enough Bad Vibes report on any one person, we may decide to ask them to leave.
        </p>
        <p>
          If you have a situation that is an emergency but not enough of one to call 911, you can call <a href="tel:+14152641581">415-264-1581</a> to be connected to a staff member immediately.
        </p>

    </div>
</div>
